* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(120, 183, 208,0.1);
}

#search-box {
    padding-left: 35%;
    width: 100%;
    height: auto;
    display: flex;
}

#search-box input {
    margin: 4% 0;
    border-radius: 15px;
    width: 50%;
    height: 30px;
    border: none;
    padding-left: 20%;
    background-color: #F5EFFF;
    font-size: large;
}

#search-box input:hover{
    font-size: larger;
    box-shadow: 5px 5px 14px black;
}

#search-box input:focus {
    outline: none;
}

#search-box button {
    margin: 4% 2%;
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 30px;
    background-color: #F5EFFF;
    font-size: large;
}

#search-box button:hover {
    font-size: larger;
    box-shadow: 5px 5px 14px black;
}

#current-weather {
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 0.6 lightblue;
    border-radius: 15px;
    align-items: center;
    background-image: url(./Asset/backgroundOne.png);
    background-repeat: no-repeat;
    margin: 5% 0 10% 0;
    width: 70vw;
    height: 80vh;
}

#weather-container {
    background-color: rgb(135, 162, 255, 0.5);
    box-shadow: 8px 8px 10px rgb(89, 85, 85);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 50vh;

}

#weather-container:hover {
    box-shadow: 5px 5px 20px black;
}

#weather-container p {
    font-size: large;
    margin-top: 3%;
    font-weight: bold;
}

#weather-image {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#weather-image img {
    margin-top: 4%;
    width: 100%;
    height: 80%;
}

#city-name {
    width: 100%;
    font-weight: bolder;
}