body {
    margin: 0;
    background-color: #F1F1F1;
}

label{
    width: 25%;
}

input[type="text"],input[type="tel"],
textarea {
    margin: 2px 4px;
    border-radius: 4px;
    width: 250px;
    height: 25px;
}

table {
    margin: 0;
    border-collapse: collapse;
    align-items: center;
    background-color: lightyellow;
}

th,
td {
    margin: 0;
    color: black;
    border: 1px solid black;
    border-collapse: collapses;
    text-align: center;
}

th {
    font-size: large;
    font-weight: bold;
}

table p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}


h1 {
    text-align: left;
    color: rgb(14, 32, 219);
    text-decoration: none;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    padding-top: 0%;
    padding-left: 25%;
    color: rgb(3, 3, 14);
}

section {
    padding-top: 8%;
    padding-left: 30%;
}

button:hover {
    background-color: aquamarine;
    font-size: large;
    color: rgb(14, 14, 207);
    cursor: pointer;
}

button {
    align-self: center;
}

img {
    margin: 5px;
    width: 100%;
    height: 20%
}

#logo {
    width: 4%;
    height: 6%;
    margin: 1px;
}

article {
    padding-top: 9%;
    text-align: center; 
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    background-color: white;
    color: black;
}

nav {
    background-color: rgb(43, 76, 236);
    margin: 0px;
    padding: 8px;
}

#btn-logout {
    align-items:flex-end;
}

#marquee-div {
    margin: 0;
    background-color: #A6D1E6;
    padding: 10px;
    color: black;
}

header div {
    display: flex;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    margin-top: 0%;
}

p {
    color: #0366b6;
    font-weight: bold;
    font-size: large;
}

.display-session {
    padding: 20% 30%;
}

.display-session label {
    width: 30%;
}

form {
    margin-bottom: 10%;
    margin-left: 0%;
    margin-right: 40%;
    margin-top: 0;
    padding: 20px;
    background-color: #9BBEC8;
    box-shadow:  6px 6px 15px  grey;
}

@media screen and (max-width:600px) {
   .label-row {
    background-color: #0366b6;
    display: flex;
    flex-direction: row;
    width:25% ;
    margin: 6px;
   } 
   .input-row {
    background-color: #03b60f;
    display: flex;
    flex-direction: row;
    width:25% ;
    margin: 6px;
   }
}

span {
    color: red;
}

.parent-control {
    margin: 20px;
    display: flex;
}

.input-control input,
textarea:focus {
    outline: 0;
}

.error {
    color: rgb(255, 0, 0);
    font-size: 12px;
}

.input-control.successFunction input {
    border-color: green;
}

.input-control.errorFunction input {
    border-color: red;
}

.input-control.errorFunction textarea {
    border-color: red;
}

.input-control.errorFunction select {
    border-color: red;
}